{% extends 'todo/base.html' %}
<div>
  {% block content %}

  <div class="bg-[#212123] h-fit">
    <div>
      <div class="mx-auto flex w-4/6 items-center justify-between py-7">
        <p class="text-4xl font-bold uppercase text-[#FCBB6D]">Todo App</p>
        <div>
          <a href=" {% url 'login' %} " class="px-3 text-xs text-[#FEFAD4]">LOG IN</a>
          <a href=" {% url 'signup' %} " class="px-3 text-xs text-[#FEFAD4]">SIGN UP</a>
        </div>
      </div>
      <!-- main container baa -->
      <div class="mx-auto h-screen w-4/6 rounded-lg bg-[#353139] p-3">
        <form action="/" method="POST">
          {% csrf_token %}
          <div class="flex w-full">
            <div class="w-full">
              <input
                required
                type="text"
                name="title"
                class="h-11 w-full border border-gray-100 px-4 outline-none focus-within:outline-none active:outline-none"
                placeholder="title"
              />
              <input
                type="text"
                name="description"
                class="h-24 w-full border border-gray-100 px-4 outline-none"
                placeholder="description"
              />
            </div>
            <button class="bg-red-100 px-6" type="submit" title="add task">
              +
            </button>
          </div>
        </form>
        <!-- this is for all tasks -->
        <div class="my-6 grid w-full grid-cols-1 gap-3 sm:grid-cols-2">
          <!-- this is for single task add for below  -->
          {% for todo in todos reversed %}
          <div
            class="col-span-1 flex w-full justify-between rounded border border-purple-400 border-l-4 bg-orange-50"
          >
            <div class="flex flex-col">
              <p class="w-full px-6 pt-3 font-bold text-gray-800">
                {{ todo.title }}
              </p>
              <p class="w-full px-6 py-2 text-gray-500">
                {{ todo.description }}
              </p>
            </div>
            <!-- this is for the task progress -->
            <div class="flex flex-col ">
                <!--for tick mark-->
              <div class="bg-green-400 w-full h-full  flex justify-center items-center p-4">
                <a href="delete/{{ todo.id }}" class=" w-full h-full  flex justify-center items-center  ">
                  <div>
                    <svg
                      class="fill-white w-5 mx-auto"
                      xmlns="http://www.w3.org/2000/svg"
                      x="0px"
                      y="0px"
                      width="30"
                      height="30"
                      viewBox="0 0 30 30"
                      style=""
                    >
                      <path
                        d="M 26.980469 5.9902344 A 1.0001 1.0001 0 0 0 26.292969 6.2929688 L 11 21.585938 L 4.7070312 15.292969 A 1.0001 1.0001 0 1 0 3.2929688 16.707031 L 10.292969 23.707031 A 1.0001 1.0001 0 0 0 11.707031 23.707031 L 27.707031 7.7070312 A 1.0001 1.0001 0 0 0 26.980469 5.9902344 z"
                      ></path>
                    </svg>
                  </div>
                </a>
              </div>
              <!-- tick mark ends above tag -->
              <div class="bg-red-400 w-full h-full  flex justify-center items-center p-4">
                <a href="delete/{{ todo.id }}" class=" w-full h-full  flex justify-center items-center  ">
                  <div>
                    <svg
                      class="fill-white w-5 mx-auto"
                      xmlns="http://www.w3.org/2000/svg"
                      x="0px"
                      y="0px"
                      width="30"
                      height="30"
                      viewBox="0 0 30 30"
                      style=""
                    >
                      <path
                        d="M 26.980469 5.9902344 A 1.0001 1.0001 0 0 0 26.292969 6.2929688 L 11 21.585938 L 4.7070312 15.292969 A 1.0001 1.0001 0 1 0 3.2929688 16.707031 L 10.292969 23.707031 A 1.0001 1.0001 0 0 0 11.707031 23.707031 L 27.707031 7.7070312 A 1.0001 1.0001 0 0 0 26.980469 5.9902344 z"
                      ></path>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
            <!-- task progress ends here by the way  -->
          </div>
          {% endfor %}
          <!-- code for single task end here end for above -->
        </div>
      </div>
    </div>

    {% endblock content %}
  </div>
</div>
